
@model Almohami.Services.Entities.ChangePasswordModel
@section Breadcrumbs
        {
    <!-- BEGIN PAGE BREADCRUMBS -->
    <ul class="page-breadcrumb breadcrumb">
        <li>
            <a href="/Settings/PersonalInfo">
                Settings
            </a>
            <i class="fa fa-circle"></i>
        </li>

        <li>
            <span>PersonalInfo</span>
        </li>
    </ul>
    <!-- END PAGE BREADCRUMBS -->
    <!-- BEGIN PAGE CONTENT INNER -->
}


@using (Html.BeginForm("ChangePassword", "Settings", FormMethod.Post, new { @id = "UpdateSecurityForm" }))
{ 
<div class="row">
    <div class="col-md-12">
        <div class="portlet light ">
            <div class="portlet-title">
                <div class="caption">
                    <i class="fa fa-gears font-dark"></i>
                    <span class="caption-subject font-dark sbold uppercase">Security & Password</span>
                </div>
            </div>
            <div class="portlet-body form">
                <form class="form-horizontal" role="form">
                    <div class="form-body">                        
                        <div class="form-group">
                           @Html.LabelFor(m => m.OldPassword, new { @class = "col-md-3 control-label" }) <span class="required">*</span>
                            <div class="col-md-9">
                                <div class="input-group">
                                    <span class="input-group-addon">
                                        <i class="fa fa-lock"></i>
                                    </span>
                                    @Html.TextBoxFor(m => m.OldPassword, new { @class = "form-control", @placeholder = "Password" })  
                                    @Html.ValidationMessageFor(m => m.OldPassword)                            
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            @Html.LabelFor(m => m.NewPassword, new { @class = "col-md-3 control-label" }) <span class="required">*</span>
                            <div class="col-md-9">
                                <div class="input-group">
                                    <span class="input-group-addon">
                                        <i class="fa fa-lock"></i>
                                    </span>
                                    @Html.TextBoxFor(m => m.NewPassword, new { @class = "form-control", @placeholder = "New Password" })
                                    @Html.ValidationMessageFor(m => m.NewPassword)
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            @Html.LabelFor(m => m.ConfirmPassword, new { @class = "col-md-3 control-label" }) <span class="required">*</span>
                            
                            <div class="col-md-9">
                                <div class="input-group">
                                    <span class="input-group-addon">
                                        <i class="fa fa-lock"></i>
                                    </span>
                                   @Html.TextBoxFor(m => m.ConfirmPassword, new { @class = "form-control", @placeholder = "Confirm Password" })
                                    @Html.ValidationMessageFor(m => m.ConfirmPassword)
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="form-actions">
                        <div class="row">
                            <div class="col-md-offset-3 col-md-9">
                                <button type="button" class="btn green" onclick="UpdateSecurityMethod()"><i class="fa fa-check"></i> Submit</button>
                                <button type="button" class="btn default"><i class="fa fa-remove"></i> Cancel</button>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
}
<script src="~/Scripts/jquery-3.1.1.min.js"></script>
<script src="~/Scripts/jquery.validate.min.js"></script>
<script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>
@Scripts.Render("~/Content/Custom")
<script src="~/Content/Plugins/loader/jquery.loader.js"></script>
<script src="~/Content/Plugins/bootstrap-growl/jquery.bootstrap-growl.js"></script>
<script src="~/Content/Plugins/bootstrap-growl/ui-bootstrap-growl.js"></script>

